name: Trigger auto deployment for vscode-dev-875484-g-ca

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/vscode-dev-875484-g-ca-AutoDeployTrigger-3b8e84ce-3519-4727-b973-adb2a7efdb5c.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.VSCODEDEV875484GCA_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.VSCODEDEV875484GCA_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.VSCODEDEV875484GCA_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: vscodedev875484gnwdg7vh2jkfaregistry.azurecr.io
          registryUsername: ${{ secrets.VSCODEDEV875484GCA_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.VSCODEDEV875484GCA_REGISTRY_PASSWORD }}
          containerAppName: vscode-dev-875484-g-ca
          resourceGroup: vscode-dev-875484-rg
          imageToBuild: vscodedev875484gnwdg7vh2jkfaregistry.azurecr.io/vscode-dev-875484-g-ca:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


